.video__container{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-gap: 30px;
    justify-content: center;
}
.video{
    border: 1px solid black;
    width: 300px;
    height: 200px;
}

@media (min-width: 1440px){
    .video__container{
        grid-template-columns: repeat(2, 500px);
    }
    .video{
        width: 500px;
        height: 350px;
        
    }
}

@media (max-width: 425px){
    .video__container{
        grid-template-columns: repeat(1, 350px);
    }
    .video{
        width: 350px;
        height: 200px;
        
    }
}